@import "tailwindcss";

html, body {
  height: 100%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

input:focus, select:focus {
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}
.input {
  @apply px-3 py-2 rounded-lg border border-gray-300 bg-white text-gray-800 shadow-sm
  focus:outline-none focus:ring-2 focus:ring-blue-500 hover:border-blue-400 transition;
}