@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.04;
  pointer-events: none;
}